<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>nodejs</title>
  <link ref="stylesheet" type="text/css" href="styles/index.css"></link>
</head>
<body>
  <button>按钮</button>
  <form action='/index' method="post">
    <input name='name' type='text' value='名字输入' />
    <input name='age' type='text' value='年龄12' />
    <input type='submit' value='年龄12' />
  </form>
  <script type='text/javascript' src="scripts/index.js"></script>
</body>
</html>