<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <div id="app">
      <input type="text" v-model="firstname" name="">
      <input type="text" v-model="lastname" name="">
      <span>{{username}}分数{{score}}: {{level}}</span>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        firstname: 'yihoho',
        lastname: 'kuangqiusheng',
        score: 95
      },
      computed: {
        level: function(){
          if (this.score >= 90) {
            return '优秀'
          }
          if (this.score >= 70) {
            return '一般'
          }
          return '差'
        },
        username: function(){
          return this.firstname + '___' + this.lastname;
        }
      }
    })
  </script>
</body>
</html>